<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quotes_path %>

  <div class="header">
    <h1>Edit Profile</h1>
  </div>

  <%= turbo_frame_tag "modal" do %>
    <%= render "form", user: current_user %>
  <% end %>
</main>
